@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.rootWidth {
  max-width: 1280px;
  padding: 0 2rem;
  margin: 0 auto;
}

h1 {
  font-family: "Pasifico", cursive;
  font-weight: 400;
  font-style: normal;
}
